.userPhoto {
    width: 100px;
    height: 100px;
}


.userContainer {
    /*background-color: #faa9c2;*/
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 235px;
}

.avaAndButton {
    /*flex-direction: row;*/
}


button {
    /*border-color: #28D42D;*/
    border: 1px solid #28D42D;
    border-radius: 5px;
    color: #28D42D;
    background-color: white;
    padding: 5px 10px;
    cursor: pointer;
}