.siderStyle {
    text-align: center;
    line-height: 120px;
    background-color: #333232;
    left: 0;
    top: 0;
    bottom: 0;
}

.menuStyle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: #333232;
    color: #fff;
    margin-top: 10px;
}

.friendsBlock {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}