
.descriptionBlock {
    padding: 10px;
    display: flex;
    position: relative;

}

.descriptionBlock img {
    border-radius: 12px;
    max-width: 170px;
}

input[type="file"] {
    display: none;
}

.avaAndButtonBlock {
    align-content: space-around;
}

.statusAndNameBlock {
    position: absolute;
    margin-left: 180px;
}


.button {
    margin-left: 10px;
    margin-top: 137px;
    position: absolute;
}

