
.descriptionBlock {
    padding: 10px;
    display: flex;
    position: relative;

}

.descriptionBlock img {
    border-radius: 12px;
    max-width: 170px;
}

input[type="file"] {
    display: none;
}

.avaAndButtonBlock {
    align-content: space-around;
}

.statusAndNameBlock {
    position: absolute;
    margin-left: 180px;
    width: 160px;
}

.contactsBlock {
    position: absolute;
    margin-left: 375px;
}


.button {
    /*position: absolute;*/
}

